# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Build
dist-ssr

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# macOS
.DS_Store
*.pem

# Windows
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Generated native folders
app/ios
app/android
